body {
    margin: 0px;
    padding: 0px;
}

#root {
    height: 100vh;
}

$primary-color: hsl(0, 0%, 17%);
$secondary-color: hsl(0, 0%, 59%);

.top-component {
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/pattern-bg-mobile.png');
    @media (min-width: 1200px) {
        background-image: url('../assets/images/pattern-bg-desktop.png');
    }
}

.text-primary-size {
    font-size: 14px;
    @media (max-width: 767px) {
        font-size: 15px;
    }
    @media (min-width: 1200px) {
        font-size: 18px;
    }
}

.text-secondary-size {
    font-size: 12px;
    @media (max-width: 767px) {
        font-size: 11px;
    }
    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.border-end {
    @media (max-width: 767px) {
        border: none !important;
    }
}

.search-icon-holder {
    max-height: 25px;
}
